@model WebAppMVC.Models.Employee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string actionName = Model == null ? "Create" : "Edit";
    // string methodName = Model == null ? "post" : "put";
}

<h1>@actionName employee</h1>

<form method="post" action="@actionName">
    @{
        if (Model == null)
        {
            <div class="mb-3">
                <label for="" class="form-label">Id</label>
                <input type="number" class="form-control" asp-for="Id" />
            </div>
        }
    }
    <div class="mb-3">
        <label for="" class="form-label">Model</label>
        <input type="text" class="form-control" placeholder="@Model?.Model" asp-for="Model" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Year</label>
        <input type="number" class="form-control" placeholder="@Model?.Year" asp-for="Year" />
    </div>
     <div class="mb-3">
        <label for="" class="form-label">Price</label>
        <input type="number" class="form-control" placeholder="@Model?.Price" asp-for="Price" />
    </div>

    <button type="submit" class="btn btn-outline-primary" asp-page-handler="Submit">Submit</button>
</form>